/* here you can put your own css to customize and override the theme */
#calendar 
{
width: 100%;
margin: 0 auto;
}
.fc-sun 
{
background-color: #fbb6b6;
}
.fc-sun .fc-day-number
{
color:#fff;
}
.fc-day-number
{
font-size: 18px;
}
.fc-sat 
{
background-color: #fbb6b6;
}
.fc-sat .fc-day-number
{
color:#fff;
}
        